{% extends 'main/header_section.html' %}
{% load staticfiles %}


{% block dashboard %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="blog_news">
                {{ origin_data }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="blog_news">
                {{  token_data  }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="blog_news">
                <p>분류값</p>
                <p>ㅁㄴㅇㄹ</p>

            </div>
        </div>
        </div>
    </div>
</div>
{% endblock dashboard %}


{% block footer %}

<section id="footer">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6">
                        <div class="copyright">
                            <p>대진대학교</p>
                        </div>
                    </div>
                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
</section>

{% endblock footer %}

