{% extends 'main/header_section.html' %}
{% load staticfiles %}


{% block dashboard %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="blog_news">
                <div class="single_blog_item">
                    asdf
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock dashboard %}


{% block footer %}

<section id="footer">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6">
                        <div class="copyright">
                            <p>대진대학교</p>
                        </div>
                    </div>
                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
</section>

{% endblock footer %}

