{% extends 'main/header_section.html' %}
{% load staticfiles %}

{% block dashboard %}
<script src="{% static 'code/highcharts.js' %}"></script>
<script src="{% static 'code/modules/data.js' %}"></script>
<script src="{% static 'code/modules/drilldown.js' %}"></script>

<script src="{% static 'code/highcharts-3d.js' %}"></script>

<script src="{% static 'code/modules/exporting.js' %}"></script>

<script src="{% static 'code/modules/export-data.js' %}"></script>

<script type="text/javascript">
    var w2v = {{ w2v | safe}}


    console.log(w2v);
    var key_list = []
    for( var key in w2v ) {
      key_list.push(key);
    }
    console.log(key_list);

    var words1 = [];
    var fres1 = [];

    var words2 = [];
    var fres2 = [];

    var words3 = [];
    var fres3 = [];

    console.log(w2v[key_list[0]]);

    for(var key in w2v[key_list[0]]){
        words1.push(key);
        fres1.push(w2v[key_list[0]][key]);
    }

    console.log(words1);
    console.log(fres1);

    function make_highchart_w2v(num, words, fres) {
        Highcharts.chart('container'+String(num), {
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45
                }
            },
            title: {
                text: 'Contents of Highsoft\'s weekly fruit delivery'
            },
            subtitle: {
                text: '3D donut in Highcharts'
            },
            plotOptions: {
                pie: {
                    innerSize: 100,
                    depth: 45
                }
            },


            series: [{
                name: 'Delivered amount',
                data: [
                    [words[0], fres[0]],
                    [words[1], fres[1]],
                    [words[2], fres[2]],
                    [words[3], fres[3]],
                    [words[4], fres[4]],
                    [words[5], fres[5]],
                    [words[6], fres[6]],
                    [words[7], fres[7]],
                    [words[8], fres[8]]
                ]
            }]
           });
    }

</script>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="blog_news">
                {{ origin_data }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="blog_news">
                {{  token_data  }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="blog_news">
                <p>분류값</p>
                <p>ㅁㄴㅇㄹ</p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="blog_news">
                <p>tf-idf</p>
                {% for key, item in tf_idf.items %}
                    {{ key }}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="blog_news">
                <p>w2v</p>
                <p>{{ w2v }}</p>
                {% for key, item in w2v.items %}
                    {{ key }}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="container1" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto">

            </div>
            <script>
                make_highchart_w2v(1, words1, fres1);
            </script>
        </div>
    </div>
</div>

{% endblock dashboard %}


{% block footer %}

<section id="footer">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6">
                        <div class="copyright">
                            <p>대진대학교</p>
                        </div>
                    </div>
                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
</section>

{% endblock footer %}

